/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

mat-progress-bar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}


header .logo img {
    width: 50px; /* Adjust logo size */
}

nav.nav-center {
    /* flex-grow: 1; */
    text-align: center;
}

nav.nav-center a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav.nav-center a:hover {
    text-decoration: underline;
}
.auth-buttons {
    display: flex; /* Enable flexbox */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Add space between buttons */
}

.shopcart {
    background: lightblue;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 20%;
    color: #121064; /* Adjust the icon color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopcart:hover {
    color: #007bff; /* Change color on hover */
    /* border: 1px solid lightblue; */
}

.login, .register, .logout{
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    transition: background-color 0.3s;
}

.login:hover, .register:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
