<div class="container">
    <h2>Create New Product</h2>
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" required />
      </div>
  
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="product.description" name="description" required ></textarea>
      </div>
  
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" required />
      </div>
  
      <div>
        <label for="pictureUrl">Picture URL:</label>
        <input type="text" id="pictureUrl" [(ngModel)]="product.pictureUrl" name="pictureUrl" required />
      </div>
  
      <div>
        <label for="type">Type:</label>
        <input type="text" id="type" [(ngModel)]="product.type" name="type" required />
      </div>
  
      <div>
        <label for="brand">Brand:</label>
        <input type="text" id="brand" [(ngModel)]="product.brand" name="brand" required />
      </div>
  
      <div>
        <label for="quantityInStock">Quantity in Stock:</label>
        <input type="number" id="quantityInStock" [(ngModel)]="product.quantityInStock" name="quantityInStock" required />
      </div>
  
      <button type="submit" [disabled]="!productForm.form.valid">
        Create Product
      </button>
    </form>
  </div>
  